*{
    background-color: #222733;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color : #dbe8d4;
}
/*Menu*/
.menu{
    position : sticky;
    top : 0;
    left : 0;
    width : 100%;
    background-color: #525e65;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width : 100%;
    z-index: 100;
}

.boton{
    width: 150px;
    height: 20px;
    color: #dbe8d4;
    background-color: #525e65;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.3s;
}
.boton:hover{
    background-color:#dbe8d4;
    color: #222733;
}
/*titulo con nombre*/
.name{
    color : #dbe8d4;
    font-size:7vw;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;
}
.welcoming h2{
    margin-bottom: 20px;
    font-size: 4vw;
}
.info, .proyectos, .skills{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buzon, .vision{
    flex-direction: column-reverse;
}
.skills{
    justify-content: space-around;
    flex-direction: row;
}
.skills p{
    font-size: calc(15px + 0.5vw);
}
.info img{
    margin : 20px;
    width: 300px;
    border-radius: 50%;
}
.proyectos img{
    margin : 20px;
    width: 450px;
}
.info p, .proyectos p{
    margin : 20px;
    width : 85%;
    font-size: calc(18px + 1vw);
    text-align:left;
}
.proyectos p{
    width : 80%;
}

article{
    padding : 10px 15px;
    margin : 5px 3px;
}
h2{
    text-align:center;
    color : #dbe8d4;
    font-size: calc(20px+1.5vw);
}
p{
    color : #dbe8d4;
    font-size: 2vw;
}

.subtitle{
    font-weight: bold;
}
.titulo{
    margin-bottom: 20px;;
}

.experienceContainer{
    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
figcaption{
    text-align: center;
    margin-top: 20px;
}
.experienceContainer div{
    width : 100%;
    height : 250px;
    margin-top:0;
    display : flex;
    align-items: center;
    background-color: white;
}
.experienceContainer div img{
    width:100%;
    margin:auto;
    background-color: white;
}
figcaption{
    margin-top: :20px;
}
.box{
    width: 250px;
    height: auto;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

.description{
    display : flex;
    top:0;
    left:0;
    width : auto;
    padding : 6px;
    text-align: justify;
    align-items: center;
    font-size: 14px;
    background-color: white;
    color:black;
}
footer{
    height : 6vw;
    background-color: #525e65;
    display:block;
}
footer h2{
    font-size: 12px;
    padding-top:10px;
}
.redes ul{
    padding-top: 5px;
    padding-bottom: 15px;
    display:flex;
    justify-content:center;
}
.redes li{
    list-style-type: none;
    display:inline;
    height: auto;
    margin : 15px;
}
.redes a, .redes li, .redes ul, footer h2, footer{
    background-color: #525e65;
}

.redes img{
    height: 50px;
    background-color: #525e65;
}
@media only screen and (min-width: 768px){
    header img{
        width: 300px;
    }
    .info, .proyectos{
        flex-direction: row;
    }
    .info p, .proyectos p{
        width : 50%;
    }
    .welcoming h2{
        font-size: 3vw;
    }
    .info img{
        width: 350px;
    }
}
