*{
    background-color: white;
    font-family: "Lato", sans-serif;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
}

header img{
    width: 200px;
}
nav{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}
.menu{
    width: 150px;
    height: 20px;
    color: #1498d5;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #1498d5;
}
.menu img{
    height: 30px;
}
.menu:hover{
    background-color:#1498d5;
    color: white;
}
section{
    display: inline-block;
    margin: 10px 10px;
}
article{
    position: relative;
    width: 100%;
    margin-top: 15px;
}
/*Pie de página*/
footer{
    background-color: #1498d5;
    display:grid;
    grid-template-columns: repeat(2, 50%);
    height: auto;
    align-items: center;
    margin-top: 20px;
}
.bar *{
    background-color: #1498d5;
}

/*Parte de contacto*/
.contacto ul{
    padding-bottom: 3px;
    padding-top: 3px;
    color: white;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    border-right: 2px solid white;
}
.contacto li{
    padding-bottom: 5px;
    list-style-type: none;
    height: auto;
    padding-right: 10px;
    font-size:medium;
    background-color: #1498d5;
    margin:15px;
}
.contacto li:first-of-type{
    font-weight: bolder;
    font-size: larger;
}
.contacto a{
    color: white;
    text-decoration: none;
}
.contacto img{
    width: 25px;
    vertical-align: middle;    
}
/*Parte de redes*/
.redes ul{
    margin-left:300px;
}
.redes li{
    padding-bottom: 5px;
    list-style-type: none;
    display:inline;
    height: auto;
    padding-right: 10px;
    font-size:medium;
    background-color: #1498d5;
    margin-right: 20px;
    color:white;
}
.redes li:first-child{
    display:block;
    margin-bottom: 15px;
    font-size: large;
    font-weight: bold;
}
.redes img{
    height: 50px;
}

